<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "<http://mybatis.org/dtd/mybatis-3-mapper.dtd>">
<mapper namespace="com.waibao.payment.mapper.UserCreditMapper">

    <update id="batchUpdateByIdAndOldMoney">
        <foreach collection="list" item="logUserCredit">
            begin;
            select user_id from user_credit for update;
            update user_credit
            set money= #{logUserCredit.money}
            where user_id = #{logUserCredit.userId}
            and money = #{logUserCredit.oldMoney};
            commit;
        </foreach>
    </update>
</mapper>